<!DOCTYPE html>
<html>
  <head>
    <title>SportsHubPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> 
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="container border">
      <%= render partial: "/layouts/header" %>
      <div class="d-flex justify-content-between">
        <%= render partial: "/layouts/navbar"%>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
